In [ ]:
from typing import List, Set, Optional
from bs4 import BeautifulSoup
import pandas as pd

In [1]:
from src.utils.athlete_utils import get_all_athlete_results, clean_and_prepare_results_df, save_athlete_info, save_results_to_postgres
from src.utils.http_utils import search_athletes

In [2]:
selected = search_athletes("vaudois")[0]
selected

{'name': 'VAUDOIS Aurelien',
 'club': ' - Athle 92*',
 'sex': 'M',
 'seq': '1106614'}

In [3]:
seq = selected["seq"]
name = selected["name"]
club = selected.get("club", "")
sex = selected.get("sex", "")

In [4]:
df = get_all_athlete_results("1106614")
print(df.shape)

(446, 11)

In [5]:
df = clean_and_prepare_results_df(df, "1106614")

In [6]:
from sqlalchemy import create_engine

db_url="postgresql://neondb_owner:npg_1Bb5jYJdnvkh@ep-frosty-meadow-a91im9jf-pooler.gwc.azure.neon.tech/neondb?sslmode=require"

engine = create_engine(db_url)

In [7]:
save_athlete_info("1106614", name, club, sex, engine)

In [8]:
df.head()

,date,epreuve,perf,vt,tour,pl,niv,pts,ville,annee,seq
0,2025-10-11,Relais Medley Long (1200-400-800-1600),10'04''26,,Final 1,6,,3,Blois,2025,1106614
1,2025-09-28,Relais Medley Long (1200-400-800-1600),10'21''28,,Final 1,1,,,Aulnay Sous Bois,2025,1106614
2,2025-07-27,1 500m,3'53''56,,Final 1,10,N4,932,Thonon Les Bains,2025,1106614
3,2025-07-26,1 500m,3'52''58,,Série 1,4,N4,944,Thonon Les Bains,2025,1106614
4,2025-07-20,800m,1'55''27,,Final 1,3,IR1,881,Saint Denis,2025,1106614

In [9]:
list(df.columns)

['date',
 'epreuve',
 'perf',
 'vt',
 'tour',
 'pl',
 'niv',
 'pts',
 'ville',
 'annee',
 'seq']

In [10]:
df.head()

,date,epreuve,perf,vt,tour,pl,niv,pts,ville,annee,seq
0,2025-10-11,Relais Medley Long (1200-400-800-1600),10'04''26,,Final 1,6,,3,Blois,2025,1106614
1,2025-09-28,Relais Medley Long (1200-400-800-1600),10'21''28,,Final 1,1,,,Aulnay Sous Bois,2025,1106614
2,2025-07-27,1 500m,3'53''56,,Final 1,10,N4,932,Thonon Les Bains,2025,1106614
3,2025-07-26,1 500m,3'52''58,,Série 1,4,N4,944,Thonon Les Bains,2025,1106614
4,2025-07-20,800m,1'55''27,,Final 1,3,IR1,881,Saint Denis,2025,1106614

In [11]:
save_results_to_postgres(df, "1106614", engine)

446

In [9]:
import requests

url = "https://lepistard.run/wp-admin/admin-ajax.php"

headers = {
"accept": "application/json, text/javascript, */*; q=0.01",
"accept-encoding": "gzip, deflate, br, zstd",
"accept-language": "en-GB,en-US;q=0.9,en;q=0.8,fr;q=0.7,de;q=0.6",
"cache-control": "no-cache",
"content-type": "application/x-www-form-urlencoded; charset=UTF-8",
"cookie": "cookielawinfo-checkbox-necessary=yes; cookielawinfo-checkbox-functional=no; cookielawinfo-checkbox-performance=no; cookielawinfo-checkbox-analytics=no; cookielawinfo-checkbox-advertisement=no; cookielawinfo-checkbox-others=no; crisp-client%2Fsession%2Fdfc83585-34f7-4959-a0bf-52aef20726ab=session_96ae0d8a-9c9a-46b9-a041-1860e92f69a7; viewed_cookie_policy=yes",
"origin": "https://lepistard.run",
"pragma": "no-cache",
"priority": "u=1, i",
"referer": "https://lepistard.run/",
"sec-ch-ua": '"Google Chrome";v="141", "Not?A_Brand";v="8", "Chromium";v="141"',
"sec-ch-ua-mobile": "?0",
"sec-ch-ua-platform": '"macOS"',
"sec-fetch-dest": "empty",
"sec-fetch-mode": "cors",
"sec-fetch-site": "same-origin",
"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
"x-requested-with": "XMLHttpRequest"
}

data = {
"action": "get_listing_names",
"name": "marco arop",
"table": "athlete",
"column": "nom"
}

response = requests.post(url, headers=headers, data=data)

print(f"Status Code: {response.status_code}")
print(f"Response: {response.text}")

Status Code: 200
Response: []

In [10]:
from src.utils.wa_utils import search_wa_athletes

In [13]:
search_wa_athletes("pottier")

[{'hactseq': None,
  'name': 'Valentin POTTIER',
  'club': 'FRA',
  'sex': 'Men',
  'seq': 'WA_14882248',
  'source': 'WA',
  'aa_id': 14882248}]

In [6]:
import sqlite3
import pandas as pd

with sqlite3.connect(r"C:\Users\RAGNAR\OneDrive\Documents\scrapping_ffa\data\athle_results.sqlite") as conn:
    df = pd.read_sql_query(
        "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%' ORDER BY name",
        conn
    )
print(df)

       name
0  athletes
1   results

In [7]:
import sqlite3
import pandas as pd

with sqlite3.connect(r"C:\Users\RAGNAR\OneDrive\Documents\scrapping_ffa\data\athle_results.sqlite") as conn:
    df = pd.read_sql_query("SELECT * FROM athletes", conn)
print(df.head())

                                seq               name            club sex
0      4851475245544851495050494554   VAUDOIS Aurelien     - Athle 92*   M
1          495046534653504950494257       DIRAT Franck     - Athle 92*   M
2  49504851445551484851475246535148    POTTIER Quentin     - Athle 92*   M
3              43564950475250494554  VAUDOIS Guillaume                   M
4      4950465346535049495047525049        TUAL Adrien   - Us Talence*   M

In [8]:
import sqlite3
import pandas as pd

with sqlite3.connect(r"C:\Users\RAGNAR\OneDrive\Documents\scrapping_ffa\data\athle_results.sqlite") as conn:
    df = pd.read_sql_query("SELECT * FROM results", conn)
print(df.head())

                            seq     Club   Date                     Epreuve  \
0  4851475245544851495050494554  92111.0  16/03                  5 Km Route
1  4851475245544851495050494554  92111.0  09/02  Cross court masculin / sem
2  4851475245544851495050494554  92111.0  02/02           800m Piste Courte
3  4851475245544851495050494554  92111.0  25/01           800m Piste Courte
4  4851475245544851495050494554  92111.0  19/01           800m Piste Courte

      Tour                Pl.              Perf. Vt. Niv.    Pts  \
0  H.Stade  178 (163M - 86SE)  15'37'' (15'32'')      IR3    0.0
1    Cross                169            17'53''
2  Final 1                  3           1'54''38      IR1  956.0
3  Final 2                  2           1'55''84      IR1  917.0
4  Final 1                  6           1'55''51      IR1  925.0

             Ville Annee
0            Lille  2025
1           Lisses  2025
2  Nogent Sur Oise  2025
3           Lievin  2025
4  Nogent Sur Oise  2025