In [9]:
import requests
from bs4 import BeautifulSoup

In [1]:
from src.utils.wa_utils import (
    search_wa_athletes,                                     # WA autocomplete (fallback)
    fetch_and_store_wa_results                              # WA scraping (fallback)
)

from src.utils.scraping_wa import (
    search_athletes_by_name as _wa_search,
    get_athlete_results_by_name as _wa_results,
)

In [2]:
search_wa_athletes("vaudois")

[{'hactseq': None,
  'name': 'Aurelien VAUDOIS',
  'club': 'FRA',
  'sex': 'Men',
  'seq': 'WA_14812063',
  'source': 'WA',
  'aa_id': 14812063}]

In [37]:
_wa_search('jimmy soudril')

,aaAthleteId,familyName,givenName,birthDate,disciplines,iaafId,gender,country,urlSlug,__typename
0,14642716,SOUDRIL,Jimy,29 APR 1998,"400 Metres Short Track, 400 Metres, 200 Metres",301381,Men,FRA,france/jimy-soudril-14642716,AthleteSearchResult

In [59]:
js_df = _wa_results('jimmy soudril')

Athlète trouvé: Jimy SOUDRIL (ID: 14642716)
Recherche des années actives pour l'athlète ID: 14642716...
Aucune information sur les années actives. Récupération de toutes les années.
Utilisation du multithreading avec 10 workers...

Récupération des données:   0%|          | 0/66 [00:00<?, ?it/s]

✓ Données récupérées pour l'année 2018 (17 résultats)
✓ Données récupérées pour l'année 2016 (20 résultats)
✓ Données récupérées pour l'année 2020 (16 résultats)
✓ Données récupérées pour l'année 2015 (22 résultats)
✓ Données récupérées pour l'année 2014 (2 résultats)
✓ Données récupérées pour l'année 2017 (9 résultats)
✓ Données récupérées pour l'année 2019 (16 résultats)
✓ Données récupérées pour l'année 2025 (14 résultats)
✓ Données récupérées pour l'année 2024 (7 résultats)
✓ Données récupérées pour l'année 2022 (6 résultats)

Résumé:
• Nombre total de résultats: 129
• Années avec résultats: [np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2022), np.int64(2024), np.int64(2025)]
• Épreuves: ['100 Metres', '200 Metres', '200 Metres Short Track', '300 Metres', '400 Metres', '400 Metres Short Track', '60 Metres', '800 Metres', '800 Metres Short Track']
Temps d'exécution total: 3.47 secondes

In [63]:
js_df[js_df.discipline == "400 Metres Short Track"][['mark']]

      mark
0    48.60
1    48.37
6    48.36
7    47.55
36   49.93
88   48.96
91   49.06
102  46.14
103  46.92
110  46.51
111  46.03
112  46.19
113  45.99
114  45.59
115  47.28
123  46.8h
124  46.94
125  47.69
126  47.30
127     -
128     -

In [64]:
from src.utils.file_utils import convert_time_to_seconds

convert_time_to_seconds("47.30")

47.3

In [45]:
from src.utils.ffa_fast import get_all_results_fast as get_all_athlete_results

res = search_athletes("jimy soudril")
seq = res[0].get('seq')

from src.utils.athlete_utils import get_all_athlete_results
js_df = get_all_athlete_results(seq)

In [4]:
from src.utils.http_utils import search_athletes            # FFA autocomplete

In [ ]:
results = search_athletes("habz")
seq = results[0].get('seq')
# URL à scraper
url = f"https://bases.athle.fr/asp.net/athletes.aspx?base=bilans&seq={seq}"

# Envoyer la requête au site web
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
response = requests.get(url, headers=headers)

# Vérifier si la requête a réussi
if response.status_code == 200:
    # Parser le contenu HTML
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Chercher les cellules td avec style="width:40%"
    target_element = soup.find('td', style="width:40%")
    
    # Si l'élément est trouvé, extraire le texte à l'intérieur du b
    if target_element and target_element.find('b'):
        date_naissance = target_element.find('b').text.strip()
        print("Date de naissance:", date_naissance)
    else:
        print("Élément non trouvé. La structure de la page a peut-être changé.")
else:
    print(f"Échec de récupération de la page web. Code de statut: {response.status_code}")

Date de naissance: 19/07/1993

In [19]:
results = search_athletes("habz")
seq = results[0].get('seq')
# URL à scraper
url = f"https://bases.athle.fr/asp.net/athletes.aspx?base=bilans&seq={seq}"

# Send request to the website
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
response = requests.get(url, headers=headers)

# Check if request was successful
if response.status_code == 200:
    # Use regex to directly extract the year from the HTML
    match = re.search(r'<td style="width:40%"><b>(\d{4})</b></td>', response.text)
    if match:
        birth_year = match.group(1)
        print("Birth year:", birth_year)
    else:
        print("Birth year not found")
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

Birth year not found

In [21]:
results = search_athletes("vaudois")
seq = results[0].get('seq')
# URL à scraper
url = f"https://bases.athle.fr/asp.net/athletes.aspx?base=bilans&seq={seq}"

# Send request to the website
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
response = requests.get(url, headers=headers)

# Check if request was successful
if response.status_code == 200:
    # Use regex to directly extract date/year from the HTML - handles both "1998" and "19/07/1993" formats
    match = re.search(r'<td style="width:40%"><b>([^<]+)</b></td>', response.text)
    if match:
        birth_date = match.group(1)
        print("Birth date:", birth_date)
    else:
        print("Birth date not found")
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

Birth date: 1998

In [22]:
import requests
import re

def scrape_birth_date(url):
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
    }
    
    # Use stream=True to stop downloading once we find our match
    with requests.get(url, headers=headers, stream=True) as response:
        if response.status_code != 200:
            return f"Failed to retrieve the webpage. Status code: {response.status_code}"
        
        # Initialize buffer and pattern
        chunk_size = 8192
        pattern = re.compile(r'<td style="width:40%"><b>([^<]+)</b></td>')
        buffer = ""
        
        # Process the response in chunks
        for chunk in response.iter_content(chunk_size=chunk_size, decode_unicode=True):
            if not chunk:
                continue
                
            # Add chunk to buffer and search for pattern
            buffer += chunk
            match = pattern.search(buffer)
            
            if match:
                return match.group(1)
                
            # Keep only the last 100 characters in case pattern spans chunks
            buffer = buffer[-100:] if len(buffer) > 100 else buffer
            
        return "Birth date not found"

# Example usage
results = search_athletes("habz")
seq = results[0].get('seq')
# URL à scraper
url = f"https://bases.athle.fr/asp.net/athletes.aspx?base=bilans&seq={seq}"
birth_date = scrape_birth_date(url)
print("Birth date:", birth_date)

Birth date: 19/07/1993