In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
from typing import List, Optional
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from src.utils.file_utils import convert_time_to_seconds, create_full_date

In [3]:
conn = sqlite3.connect("data/athle_results.sqlite")
try:
    df = pd.read_sql_query(f"SELECT * FROM results", conn)
except Exception as e:
    print(f"Erreur lors de la lecture de la base : {e}")

In [104]:
conn.close()

In [98]:
conn = sqlite3.connect("data/athle_results.sqlite")
try:
    df = pd.read_sql_query(f"SELECT * FROM athletes", conn)
except Exception as e:
    print(f"Erreur lors de la lecture de la base : {e}")

In [99]:
df

                                seq              name          club sex
0      4851475245544851495050494554  VAUDOIS Aurelien   - Athle 92*   M
1          495046534653504950494257      DIRAT Franck   - Athle 92*   M
2  49504851445551484851475246535148   POTTIER Quentin   - Athle 92*   M

In [64]:
from sqlalchemy import create_engine
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()
db_url = os.getenv("DB_URL")

# Cr√©e l'engine SQLAlchemy
engine = create_engine(db_url)

# Exemple : lire la table results
df = pd.read_sql_query("SELECT * FROM results", engine)
print(df.head())

   id                           seq     club        date  \
0   1  4851475245544851495050494554  92111.0  2025-03-16
1   2  4851475245544851495050494554  92111.0  2025-02-09
2   3  4851475245544851495050494554  92111.0  2025-02-02
3   4  4851475245544851495050494554  92111.0  2025-01-25
4   5  4851475245544851495050494554  92111.0  2025-01-19

                      epreuve     tour                 pl               perf  \
0                  5 Km Route  H.Stade  178 (163M - 86SE)  15'37'' (15'32'')
1  Cross court masculin / sem    Cross                169            17'53''
2           800m Piste Courte  Final 1                  3           1'54''38
3           800m Piste Courte  Final 2                  2           1'55''84
4           800m Piste Courte  Final 1                  6           1'55''51

  perf_seconds vt  niv    pts            ville  annee  lieu
0         None     IR3    0.0            Lille   2025  None
1         None                          Lisses   2025  None
2         None     IR1  956.0  Nogent Sur Oise   2025  None
3         None     IR1  917.0           Lievin   2025  None
4         None     IR1  925.0  Nogent Sur Oise   2025  None

In [67]:
df.epreuve.nunique()

748

In [68]:
steeple = df[(df.epreuve.isin(["3000m Steeple (91)"]))]
steeple.shape

(133, 15)